[submodule "submodules/explainer/CoDy"]
	path = submodules/explainer/CoDy
	url = git@github.com:juliawenkmann/CoDy.git
[submodule "submodules/models/tgn"]
	path = submodules/models/tgn
	url = git@github.com:juliawenkmann/tgn.git
[submodule "submodules/explainer/TempME"]
	path = submodules/explainer/TempME
	url = git@github.com:juliawenkmann/TempME.git
[submodule "submodules/explainer/htgexplainer"]
	path = submodules/explainer/htgexplainer
	url = https://github.com/lijiazheng0917/HTGExplainer.git
[submodule "submodules/explainer/tgnnexplainer"]
	path = submodules/explainer/tgnnexplainer
	url = git@github.com:juliawenkmann/tgnnexplainer.git
